@media screen and (max-width: 479px){
    .header{
        max-width: 200px;
        width: 100%;
        height: 200px;
    }
    .boxcontainer{
        display: block;
    }
    .left{
        width: 200px;
        height: 100px;
    }
    .right{
        width: 200px;
        height: 210px;
    }
    .box1{
        margin: 10px 70px 0 70px;
    }
    .box2{
        margin: 0px 70px;
    }
    .box3{
        margin: 0px 70px 10px 70px;
    }
    .box4{
        margin: 20px 25px 10px 25px;
        border: solid 5px #ffffff;
    }
    .box5{
        margin: 10px 25px;
        border: solid 5px #ffffff;
    }
    .box6{
        margin: 10px 25px 20px 25px;
        border: solid 5px #ffffff;

    }
    .footer{
        width: 200px;
    }
}